html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
.body {
  max-width: 900px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  background-color: rgb(241, 240, 241);
}
.header__header {
  margin-top: 50px;
}
.subHeader,
.form,
.list {
  background-color: white;
}

.subHeader,
.buttons {
  font-size: 17px;
  padding: 12px 15px 15px;
  margin: 0 auto;
}

.list {
  margin-top: 1px;
  padding: 30px;
  list-style: none;
}
.taskContent {
  padding: 0 10px;
  word-break: break-word;
}
.list__item {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  padding: 20px 0 10px;
  border-bottom: 2px solid rgb(241, 240, 241);
}
.form {
  margin: 1px 0 8px;
  padding: 15px;
  display: grid;
  grid-template-columns: 6fr 1fr;
}
.form__newTask {
  opacity: 0.2;
  padding: 4px 0;
}
.form__buttonAddNewTask {
  font-weight: 300;
  margin-left: 10px;
  padding: 6px 5px;
  background-color: rgb(2, 127, 142);
  border: 1px solid rgb(2, 127, 142);
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.list__button {
  align-self: end;
  padding: 2px 5px;
}

.list__item--hidden {
  display: none;
}

.list__button--buttonDone {
  background-color: rgb(29, 134, 35);
  border: 1px solid rgb(29, 134, 35);
  color: rgb(29, 134, 35);
}
.list__button--buttonRemove {
  background-color: rgb(239, 47, 71);
  border: 1px solid rgb(239, 47, 71);
}
.form__newTask:focus {
  outline: none;
  border: 1px solid black;
  opacity: 1;
  border-radius: 2px;
}
.tasksNamesList {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  background-color: white;
}

.buttons__button {
  color: rgb(2, 127, 142);
  background-color: white;
  border: none;
}
@media (max-width: 900px) {
  .body {
    margin: 20px;
  }
}
@media (max-width: 820px) {
  .form {
    grid-template-columns: 6fr 2fr;
  }
}
@media (max-width: 500px) {
  .header__header {
    margin-top: 40px;
  }
  .form {
    grid-template-columns: 1fr;
  }
  .form__buttonAddNewTask {
    margin: 10px 0px;
  }
}
